.attribution { font-size: 11px; text-align: center; }
 .attribution a { color: hsl(228, 45%, 44%); }



 body{
    background-color: rgb(245, 205, 233);
    font-family:Georgia, 'Times New Roman', Times, serif;
    
 }

 

  #titulo{
   font-size: 55px;
 } 

 ol {
  counter-reset: item;
  list-style-type: none;
}

ol li:before {
  content: counter(item) ". ";
  counter-increment: item;
  color: rgb(190, 82, 82);
  font-weight: bold;
  width: 20px;
  display: inline-block;
}
 
ul ::marker{
  color: rgb(190, 82, 82);
 }


 h2{
   color: rgb(190, 82, 82);
 }

 h3{
  color: rgb(165, 105, 138);
 }

 p{
   font-size: 16px;
   font-family: "Young Serif", serif;
  font-weight: 300;
  font-style: normal;
 }

 /* .young-serif-regular {
  font-family: "Young Serif", serif;
  font-weight: 400;
  font-style: normal;
} */


 
 .contenedordereceta{
    
    background-color: rgb(250, 250, 250);
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 10px;
 }

 .contendorimg{
display: flex;
justify-content: center;

}



 #imageomelette{
    border-radius: 10px;
    margin-top: 20px;
    width: 755px;
 }
    
   

.recipe{
   display: flex;
   
   flex-direction: column;
  margin-left: 18px;
  margin-right: 18px;
}

ul{
   
   padding-right: 15px;
}

hr {
   
      border: none;
      height: 1px; /* Aumenta la altura */
      background-color: #807f7f; /* Cambia al negro oscuro */
      margin: 15px 0;
    
 }
 
 .preparationcontenedor{
   background-color: rgb(252, 235, 238);
   border-radius: 10px;
 }

 

 .nutricion {
  position: relative;
  padding: 30px;
}

.left-text {
  
 padding-left: 1px;
}

.right-text {
  display: flex;
  flex-direction: column;
margin-left: 50%;
}


.right-text{
  color: rgb(153, 63, 63);
}
